<% if logged_in? %>
　<div class="jumbotron p-3 p-sm-5 my-4 rounded">
    <div class="container text-center">
      <h1>宅飲み</h1>
      <%= link_to 'マイページ', user_path(current_user), class: 'btn btn-lg btn-success' %>
      <%= link_to '新規レビュー', new_review_path, class: 'btn btn-lg btn-success' %>
    </div>
　</div>
<% else %>
 <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h1>宅飲み</h1>
    <%= link_to '新規登録をする', signup_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
  </div>
 </div>
<% end %>
    <div class="text-center">
      <h1>投稿レビュー一覧</h1>
        <table class="table table-striped table-bordered">
          <% @review.reverse_each do |review| %>
            <tr><td><%= link_to review.title, review %></td></tr>
            <tr><td><%= review.comment %></td></tr>
          <% end %>
        </table>
    </div>
    <div class="text-center">
      <%= link_to 'もっとレビューを見る', reviews_path, class: 'btn btn-lg btn-info' %>
    </div>
    <%= stylesheet_link_tag 'reviews' %>