      <h1 class="text-center"><%= @review.title %> のレビュー詳細ページ
        <% if logged_in? %>
          <%= render 'favorites/favorite_button', review: @review %>
        <% end %>
      </h1 Class="text-center">
        <table class="table table-striped table-bordered text-center ">
            <tr><th>レビューID</th></tr>
            <tr><td><%= @review.id %></td></tr>
            <tr><th>レビューユーザー</th></tr>
            <tr><td><%= link_to @review.user.name, user_path(@review.user), class: "text-decoration-none" %></td></tr>
            <tr><th>レビュータイトル</th></tr>
            <tr><td><%= @review.title %></td></tr>
            <tr><th>レビューコメント</th></tr>
            <tr><td><%= @review.comment %></td></tr>
            <tr><th>組み合わせ</th></tr>
            <tr><td><%= @review.combi %></td></tr>
            <tr><th>買ったお店</th></tr>
            <tr><td><%= @review.buystore %></td></tr>
          </table>
        <div class="text-center">
          <% if logged_in? && current_user.id == @review.user_id %>
              <%= link_to 'このレビューを編集する', edit_review_path(@review), class: 'btn btn-primary' %>
              <%= link_to 'このレビューを削除する', @review, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
          <% end %>
        </div>