<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid ps-5 pe-5">
      <a class="navbar-brand" href="/">宅飲み</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><%= link_to 'レビュー一覧', reviews_path, class: 'nav-link' %></li>
      </ul>
      
        <div class="dropdown" id="navbarSupportedContent">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
            メニュー
            </button>
            <% if logged_in? %>
              <ul class="dropdown-menu">
                <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %></li>
                <li class="nav-item"><%= link_to '新規レビュー', new_review_path, class: 'nav-link' %></li>
                <li class="dropdown-divider"></li>
            　　<li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
              </ul>
            <% else %>
            <ul class="dropdown-menu">
              <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
            </ul>
            <% end %>
        </div>
    </div>
  </nav>
</header>
